.historicalSwiper {
  margin-inline: clamp(80px * 0.33, (80 * 100vw / 1920), 80px) !important;

  @media only screen and (max-width: 600px){
      margin: 0 !important;
      padding: 0 20px !important;
  }
  

  .slide {
    width: calc((clamp(320px * 0.33, (320 * 100vw / 1920), 320px)) + 80px);
    padding-right: clamp(80px * 0.33, (80 * 100vw / 1920), 80px);

    &:last-of-type {
      width: clamp(320px * 0.33, (320 * 100vw / 1920), 320px);
      padding-right: 0;
    }

    @media only screen and (max-width: 600px){
        width: calc(max(166px, (166 * 100vw / 600), 50%) + 25px);
        padding-right: 25px;
        
        &:last-of-type {
          width: max(166px, (166 * 100vw / 600), 50%);
          padding-right: 0;
        }
    }
  }

  .slideTitle {
    font-size: clamp(25px * 0.33, (25 * 100vw / 1920), 25px);
    line-height: 1.2em;
    text-transform: uppercase;
    color: #3877ee;
    margin-bottom: clamp(15px * 0.33, (15 * 100vw / 1920), 15px);

    @media only screen and (max-width: 600px){
        margin-bottom: 15px;
        font-size: 16px;
    }
  }

  .slideDescription {
    font-size: clamp(20px * 0.33, (20 * 100vw / 1920), 20px);
    line-height: 1.5em;
    color: #42567a;

    @media only screen and (max-width: 600px){
        font-size: 14px;
        line-height: 1.65em;
    }
  }
}

.historicalSwiperTitle {
  border-bottom: 1px solid #e2e5ec;
  font-size: 14px;
  margin-inline: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  line-height: 1.5em;
  color: #42567a;
  transition: all 0.3s ease-out, transform 0.3s ease-out 0s;
  display: none;

  &:has(~ .historicalSwiperWrapper.hidden) {
    opacity: 0; 
    pointer-events: none;
    transform: translate3d(0, 15px, 0);
    transition: all 0.3s ease-out, transform 0.1s ease-out 0.3s;
  }

  @media only screen and (max-width: 600px){
      display: block;
  }
}

.historicalSwiperWrapper {
  position: relative;
  transition: all 0.3s ease-out, transform 0.3s ease-out 0s;
  overflow: hidden;

  &.hidden {
    opacity: 0; 
    pointer-events: none;
    transform: translate3d(0, 15px, 0);
    transition: all 0.3s ease-out, transform 0.1s ease-out 0.3s;
  }

  .sliderNext,
  .sliderPrev {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    z-index: 2;
    transition: opacity 0.2s ease-out;

    @media only screen and (max-width: 600px){
        display: none;
    }

    &.disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  .sliderNext {
    right: clamp(15px * 0.33, (15 * 100vw / 1920), 15px);
  }

  .sliderPrev {
    left: clamp(15px * 0.33, (15 * 100vw / 1920), 15px);
  }
}

.historicalSwiperContainer {
  position: relative;

  &:has(.historicalSwiperWrapper.hidden) {
    .historicalSwiperPagination {    
      opacity: 0; 
      pointer-events: none;
      transform: translate3d(-50%, 15px, 0);
      transition: all 0.3s ease-out, transform 0.1s ease-out 0.3s;

    }
  }
}

.historicalSwiperPagination {
  display: none;
  position: absolute !important;
  top: calc(100% + 103px) !important;
  left: 50% !important;
  bottom: auto !important;
  right: auto !important;
  width: fit-content !important;
  flex-wrap: wrap;
  justify-content: center;
  max-width: calc(100vw - var(--middle-slider-controlls-width) * 2px  - 40px - 20px);
  z-index: 1;
  transform: translate3d(-50%, 0, 0);
  gap: 10px;
  transition: all 0.3s ease-out, transform 0.3s ease-out 0s;
  

  @media only screen and (max-width: 600px){
      display: flex;
  }

  .historicalSwiperBullet {
    display: block;
    background-color: #ADB5C6;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    transition: background-color 0.2s ease-out;

    &.active {
      background-color: #42567A;
    }
  }
}